body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin: 1em;
  border: 4px solid #59a9e9;
  padding: 10px;
  width: 50%;
}

form input {
  padding: 0.3em;
  margin: 0.5em 0;
  font-size: 0.5em;
}

form button {
  color: white;
  background-color: #59a9e9;
}

form button:hover {
  background-color: #59a9c2;
}

form button:disabled {
  background-color: #ccc;
}
